<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--[if IE]><![endif]-->
    <meta charset="utf-8">
    {% block stylesheets %}
    <!--[if IE 8]>
    <link href="{{ asset('css/commonIE8.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <!--[if !(IE 8)]><!-->
    <link href="{{ asset('css/common.css') }}" media="all" rel="stylesheet" type="text/css">
    <!--<![endif]-->

    <!--[if lt IE 9]>
    <link href="{{ asset('css/commonIE9.css') }}" media="all" rel="stylesheet" type="text/css"/>
    <![endif]-->

    <!--[if IE]>
    <link href="{{ asset('css/commonIE.css') }}" media="screen" rel="stylesheet" type="text/css"/>
    <![endif]-->
    <link href="{{ asset('css/main.css') }}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/lightGallery.css') }}" media="screen" rel="stylesheet" type="text/css">
    {% endblock %}
    <title>
        {% block title %}
            Central London Luxury River View in London
        {% endblock %}
    </title>
    <meta name="description" content="{% block description %} Description {% endblock %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block javascripts %}
    <script src="{{ asset('http://code.jquery.com/jquery-1.10.2.js') }}"></script>
    <script src="{{ asset('http://code.jquery.com/ui/1.11.4/jquery-ui.js') }}"></script>
    <script src="{{ asset('js/custom.js') }}"></script>
    <script src="{{ asset('js/lightGallery.min.js') }}"></script>
    {% endblock %}
</head>
<body class="no_wiggle_webkit">
<div class="flash-container" style="display:none">
    <div class="alert alert-success alert-info">
        <a href="#" class="close alert-close">×</a>
        <i class="icon alert-icon icon-comment"></i>
        <span id="flash-text-block"></span>
    </div>
</div>
<div id="header" class="airbnb-header new logged_in">
    <header class="regular-header clearfix hide-sm" id="old-header" role="banner">
        <a aria-label="Homepage" href="/" class="header-belo pull-left">
            <span class="screen-reader-only">
              Airbnb
            </span>
        </a>
    </header>
</div>

<main id="site-content" role="main">
    {% block body %}{% endblock %}
</main>

<div id="footer" class="container-brand-dark footer-surround footer-container">
    <footer class="page-container-responsive">
    </footer>
</div>
{% block modalForm %}
{% endblock %}
</body>
</html>
