{% extends 'base.html.twig' %}

{% block body %}
    {{ include('manage/admin-menu.html.twig', { 'curr': '/manage/add' }) }}
    <div class="row">
        <div id="discovery-container">
            <div class="discovery-section page-container-responsive page-container-no-padding row-space-6"
                 id="discover-recommendations">
                <div class="section-intro text-center row-space-6 row-space-top-8">
                    <h2 class="row-space-1">
                        <strong>Add new page</strong>
                    </h2>
                </div>
                <div class="discovery-tiles">
                    <div class="hero__content-footer hide-sm">
                        <div id="searchbar">
                            <div class="searchbar">
                                {{ form_start(form) }}
                                <div class="saved-search-wrapper searchbar__input-wrapper">
                                    <label class="input-placeholder-group searchbar__location">
                                            <span class="input-placeholder-label screen-reader-only">
                                                Please enter a source url
                                            </span>
                                        {{ form_widget(form.sourceUrl) }}
                                        <div class="errors">
                                            {{ form_errors(form.sourceUrl) }}
                                        </div>
                                    </label>
                                </div>
                                {{ form_widget(form.submit_location) }}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if url %}
        <div class="page-container-responsive space-top-4 space-4">
            <div class="col-md-14">
                <div class="panel space-4">
                    <div class="panel-header">
                        Result box
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled hdb-light-bg">
                            <li class="default removable  alert1 " data-alert-id="293943858">
                                <div class="row row-table ">
                                    <div class="col-11 col-middle">
                                        The page data is successfully parsed. New page is available under
                                        <a class="dashboard_alert_link" href="{{ url }}" target="_blank">
                                            this url
                                        </a>
                                    </div>
                                    <div class="col-1 col-middle">
                                        <a href="#"
                                           class="pull-right icon-light-gray remove-alert"
                                           title="Hide">
                                            <i class="icon icon-remove"></i>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
