<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;background-color:#f7f7f7;font-size:16px;color:#565a5c;line-height:150%'>

<head style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
          style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
    <meta name="viewport" content='width="device-width"'
          style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
    <meta name="filler"
          style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
    <meta name="filler"
          style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
    <meta name="filler"
          style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
    <meta name="filler"
          style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
    <meta name="filler"
          style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
    <meta name="filler"
          style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
    <meta name="filler"
          style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
</head>
<body bgcolor="#EEEEEE"
      style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;color:#565a5c;height:100%;background-color:#f7f7f7;font-size:16px;line-height:150%;width:100% !important'>
<div class="preheader"
     style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;visibility:hidden;width:0;opacity:0;height:0;color:transparent;display:none !important'></div>
<table class="body-wrap"
       style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;line-height:150%;border-spacing:0;background-color:#f7f7f7;width:100%'>
    <tr style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
        <td style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'></td>
        <td class="container"
            style='padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;display:block !important;margin:0 auto !important;clear:both !important;max-width:610px !important'>
            <div class="content"
                 style='font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;padding:15px;max-width:600px;display:block;margin:0 auto;padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:0px'>
                <table class="head-wrap"
                       style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;line-height:150%;border-spacing:0;margin-bottom:10px;margin-top:10px;width:100%'>
                    <tr style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
                        <td class="container header"
                            style='padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;display:block !important;margin:0 auto !important;clear:both !important;max-width:610px !important'>
                            <div class="content"
                                 style='font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;padding:15px;max-width:600px;display:block;margin:0 auto;padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:0px'>
                                <table style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;border-spacing:0;line-height:150%;width:100%'>
                                    <tr style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
                                        <td style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;text-align: center;'>
                                            <a href="#" title="Airbnb"
                                               style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;color:#ff5a5f;text-decoration:none'>
                                                <img src="http://localhost:8000/images/logo.png"
                                                     border="0" alt="Airbnb" width="123" height="55"
                                                     style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;max-width:100%;border:0'>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'></td>
                    </tr>
                </table>
                <div class="section"
                     style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
                    <h2 style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;'>
                        Booking details
                    </h2>
                    <table style='border-spacing:0;line-height:150%;width:100%; padding: 10px 0 0 0'>
                        <tr>
                            <td style='text-align: left; width: 30%; font-weight: bold;'>
                                Created at:
                            </td>
                            <td style='text-align: left; padding-left: 10px;'>
                                {{ booking.getCreatedAt()|date('Y-m-d') }}
                            </td>
                        </tr>
                        <tr>
                            <td style='text-align: left; width: 30%; font-weight: bold;'>
                                Check in date:
                            </td>
                            <td style='text-align: left; padding-left: 10px;'>
                                {{ booking.getCheckinDate()|date('Y-m-d') }}
                            </td>
                        </tr>
                        <tr>
                            <td style='text-align: left; width: 30%; font-weight: bold;'>
                                Check out date:
                            </td>
                            <td style='text-align: left; padding-left: 10px;'>
                                {{ booking.getCheckoutDate()|date('Y-m-d') }}
                            </td>
                        </tr>
                        <tr>
                            <td style='text-align: left; width: 30%; font-weight: bold;'>
                                Guests count:
                            </td>
                            <td style='text-align: left; padding-left: 10px;'>
                                {{ booking.getGuestsCount() }}
                            </td>
                        </tr>
                        <tr>
                            <td style='text-align: left; width: 30%; font-weight: bold;'>
                                Price per night:
                            </td>
                            <td style='text-align: left; padding-left: 10px;'>
                                {{ booking.getPriceString() }}
                            </td>
                        </tr>
                        <tr>
                            <td style='text-align: left; width: 30%; font-weight: bold;'>
                                Nights count:
                            </td>
                            <td style='text-align: left; padding-left: 10px;'>
                                {{ booking.getNightsCount() }}
                            </td>
                        </tr>
                        <tr>
                            <td style='text-align: left; width: 30%; font-weight: bold;'>
                                Total:
                            </td>
                            <td style='text-align: left; padding-left: 10px;'>
                                {{ booking.getTotal() }}
                            </td>
                        </tr>
                        <tr>
                            <td style='text-align: left; width: 35%; font-weight: bold;'>
                                First name:
                            </td>
                            <td style='text-align: left; padding-left: 10px;'>
                                {{ booking.getFirstName() }}
                            </td>
                        </tr>
                        <tr>
                            <td style='text-align: left; width: 35%; font-weight: bold;'>
                                Last name:
                            </td>
                            <td style='text-align: left; padding-left: 10px;'>
                                {{ booking.getLastName() }}
                            </td>
                        </tr>
                        <tr>
                            <td style='text-align: left; width: 35%; font-weight: bold;'>
                                Email:
                            </td>
                            <td style='text-align: left; padding-left: 10px;'>
                                {{ booking.getEmail() }}
                            </td>
                        </tr>
                        <tr>
                            <td style='text-align: left; width: 35%; font-weight: bold;'>
                                Address:
                            </td>
                            <td style='text-align: left; padding-left: 10px;'>
                                {{ booking.getAddress() }}
                            </td>
                        </tr>
                        <tr>
                            <td style='text-align: left; width: 35%; font-weight: bold;'>
                                City:
                            </td>
                            <td style='text-align: left; padding-left: 10px;'>
                                {{ booking.getCity() }}
                            </td>
                        </tr>
                        <tr>
                            <td style='text-align: left; width: 35%; font-weight: bold;'>
                                Zip:
                            </td>
                            <td style='text-align: left; padding-left: 10px;'>
                                {{ booking.getZip() }}
                            </td>
                        </tr>
                        <tr>
                            <td style='text-align: left; width: 35%; font-weight: bold;'>
                                Country:
                            </td>
                            <td style='text-align: left; padding-left: 10px;'>
                                {{ booking.getCountry() }}
                            </td>
                        </tr>
                        <tr>
                            <td style='text-align: left; width: 35%; font-weight: bold;'>
                                Phone:
                            </td>
                            <td style='text-align: left; padding-left: 10px;'>
                                {{ booking.getPhone() }}
                            </td>
                        </tr>
                        <tr>
                            <td style='text-align: left; width: 35%; font-weight: bold;'>
                                Page link:
                            </td>
                            <td style='text-align: left; padding-left: 10px;'>
                                {%  set url = url('homepage') ~ 'rooms/' ~ booking.getPageId() %}
                                <a href="{{ url }}" target="__blank">{{ url }}</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <br style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
                <br style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
            </div>
        </td>
        <td style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'></td>
    </tr>
    <tr style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
        <td style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'></td>
        <td class="container no-max-width"
            style='padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;display:block !important;margin:0 auto !important;clear:both !important;max-width:610px !important'>
            <div class="section footer"
                 style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
                <div class="content center text-center"
                     style='font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;max-width:600px;padding:15px;margin:0 auto;display:block;padding-bottom:5px;padding-top:0px;color:#9ca299;font-size:14px;text-align:center;text-shadow:0 1px #ffffff;padding-left:5px;padding-right:5px'>
                    <table class="row"
                           style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;border-spacing:0;line-height:150%;width:100%'>
                        <tr style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
                            <td class="container"
                                style='padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;display:block !important;margin:0 auto !important;clear:both !important;max-width:610px !important'>
                                <div class="content"
                                     style='font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;padding:15px;max-width:600px;margin:0 auto;display:block;padding-left:5px;padding-right:5px;padding-bottom:5px;padding-top:0px;color:#9ca299;font-size:14px;text-align:center;text-shadow:0 1px #ffffff'>
                                    Versendet mit
                                    <img alt="&amp;#9829;" height="10"
                                         src="http://localhost:8000/images/heart.png"
                                         width="12"
                                         style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;max-width:100%'>
                                    von Airbnb
                                    <br style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'>
                                </div>
                            </td>
                            <td style='margin:0;padding:0;font-family:"Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif'></td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>
</body>
</html>